#topDeals
{
	margin-top: 7%;
	width: 100%;
	height: 600px;
}
#sweetRack
{
	margin-left: 2.5%;
	width: 45%;
	height: 90%;
	float: left;
}
#uncleTetsu
{
	margin-right: 2.5%;
	width: 45%;
	height: 90%;
	float: right;
}