#categoriesGrocery1
{
	margin-top: 2%;
	width: 100%;
	height: 200px;
	color: black;
	font-size: 1.25rem;
}
#categoriesGrocery2
{
	margin-top: 2%;
	width: 100%;
	height: 200px;
	color: black;
	font-size: 1.25rem;
}
#tea
{
	margin-left: 2.5%;
	box-shadow: 10px 10px 5px grey;
	width: 20%;
	float: left;
	text-align: center;
}
#meat
{
	margin-left: 5%;
	box-shadow: 10px 10px 5px grey;
	width: 20%;
	float: left;
	text-align: center;
}
#cooking
{
	margin-left: 5%;
	box-shadow: 10px 10px 5px grey;
	width: 20%;
	float: left;
	text-align: center;
}
#beverages
{
	margin-left: 5%;
	box-shadow: 10px 10px 5px grey;
	width: 20%;
	float: left;
	text-align: center;
}
#snacks
{
	margin-left: 2.5%;
	box-shadow: 10px 10px 5px grey;
	width: 20%;
	float: left;
	text-align: center;
}
#frozen
{
	margin-left: 5%;
	box-shadow: 10px 10px 5px grey;
	width: 20%;
	float: left;
	text-align: center;
}
#bakery
{
	margin-left: 5%;
	box-shadow: 10px 10px 5px grey;
	width: 20%;
	float: left;
	text-align: center;
}
#fruits
{
	margin-left: 5%;
	box-shadow: 10px 10px 5px grey;
	width: 20%;
	float: left;
	text-align: center;
}

