#categoriespharma
{
	margin-top: 2%;
	width: 100%;
	height: 200px;
	color: black;
	font-size: 1.25rem;
}
#Baby
{
	margin-left: 2.5%;
	box-shadow: 10px 10px 5px grey;
	width: 20%;
	float: left;
	text-align: center;
}
#herbal
{
	margin-left: 5%;
	box-shadow: 10px 10px 5px grey;
	width: 20%;
	float: left;
	text-align: center;
}
#medicine
{
	margin-left: 5%;
	box-shadow: 10px 10px 5px grey;
	width: 20%;
	float: left;
	text-align: center;
}
#hairs
{
	margin-left: 5%;
	box-shadow: 10px 10px 5px grey;
	width: 20%;
	float: left;
	text-align: center;
}
